.hero {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 4rem;
    margin-top: 3.2rem;
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 4rem;
    width: calc(100% - 8rem);
    transform: translateY(-50%);
    margin-bottom: 8rem;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    align-items: center;
    gap: 3.2rem;
    font-size: 18rem;

    @media (max-width: 768px) {
      font-size: 30rem;
    }
  }

  &__line {
    display: inline-block;
    height: 0.4rem;
    width: 100%;
    background-color: white;
    transform: scaleX(0);
    transform-origin: center center;
  }

  &__content {
    height: 100vh;
    background-color: yellow;
  }
}

.card {
  aspect-ratio: 1 / 1.6;
  cursor: pointer;
  position: relative;
  height: 70vh;
  width: 56vmin;
  margin: 10px;

  &::before {
    background: linear-gradient(
      130deg,
      transparent 0% 33%,
      rgba(128, 0, 128, 0.515) 66%,
      rgba(244, 37, 255, 0.645) 85%,
      rgba(136, 0, 255, 0.873) 100%
    );
    background-position: 0% 0%;

    background-size: 300% 300%;
    content: "";
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
    transition: background-position 350ms ease, transform 350ms ease;
    z-index: 1;
  }
  &:hover::before {
    background-position: 100% 100%;
    transform: scale(1.08, 1.03);
  }
  &:hover > .cardContent {
    background-position: -10% 0%; // Add your hover styles here
  }
}

.cardContent {
  background: radial-gradient(rgba(6, 6, 6, 0.2) 8%, transparent 8%);
  background-position: -0% 0%;
  background-size: 5vmin 5vmin;
  height: 100%;
  width: 100%;
  transition: background-position 350ms ease;
}
