.hero {
  position: relative;
  height: 50vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 4rem;
    margin-top: 3.2rem;
  }

  &__title {
    font-size: 16rem;
    font-weight: 600;
    @media (max-width: 768px) {
      font-size: 16rem;
    }
  }
}
